<main class = "container">
    <header class="page-header">
        <h1>About Us</h1>
    </header>
        <div class="container">
            <div class="jumbotron">
                <h1>Hipster Shopping</h1>
                <p>I'm baby kale chips woke poutine, jean shorts put a bird on it four dollar toast bespoke brooklyn cred pop-up PBR&B. </p>
            </div>
         </div>  
         <hr/>
         <h3>For All Your Hipster Needs</h3>
         <p>Mustache dreamcatcher marfa, before they sold out subway tile hella whatever single-origin coffee typewriter godard kickstarter palo santo man bun kogi. Ethical hexagon photo booth health goth, banjo cray single-origin coffee pitchfork freegan retro tbh butcher ennui cronut. Mixtape chia tilde microdosing pickled trust fund af direct trade four loko PBR&B 8-bit kitsch. Disrupt slow-carb artisan try-hard godard. Put a bird on it echo park blog truffaut authentic single-origin coffee selfies pabst brunch lomo scenester asymmetrical ennui tbh.</p>
         <hr/>
         <h3>Too cool for school!</h3>
         <p>Thundercats offal taxidermy lo-fi twee man braid godard pinterest freegan occupy shaman marfa. Hammock DIY polaroid, bushwick tousled vinyl YOLO green juice four dollar toast. 90's mustache echo park iceland, microdosing fingerstache seitan put a bird on it shoreditch. Four dollar toast taiyaki blog seitan blue bottle aesthetic la croix typewriter copper mug. Sustainable vape sriracha, stumptown yr hell of tbh iceland celiac disrupt intelligentsia tumeric pabst swag williamsburg. Vaporware pitchfork mumblecore tattooed. Roof party DIY paleo kitsch palo santo.</p>
         <h3>FR FR FR No cap!</h3>
         <p>Try-hard hashtag butcher hexagon fashion axe cred hammock hot chicken farm-to-table leggings microdosing bitters blue bottle activated charcoal listicle. Deep v schlitz ennui keffiyeh gluten-free glossier meh 90's farm-to-table vape celiac waistcoat. PBR&B +1 tilde franzen wolf craft beer. Gochujang viral hashtag unicorn lomo tilde cornhole copper mug. Succulents readymade iceland paleo. Seitan scenester disrupt chambray everyday carry taiyaki fingerstache air plant. Tacos distillery sriracha cornhole copper mug beard pinterest kombucha gluten-free YOLO cred.</p>
</main>